.quadrado {
    border: 1px solid black;
    height: 300px;
    width: 300px;
    display: inline-block;
    border-radius: 10px;
    background-color: darkgray;
}

body {
    background-image: url('ex022/imagens/wallpaper001.jpg');
}

#q1 {
    background-color: skyblue;
}

#q2{
    background-image: linear-gradient(to bottom, yellow, red);
}

#q3 {
    background-image: url('ex022/imagens/pattern001.png');
}
