body {background-color: black;
    background-image: url('ex022/imagens/wallpaper002.jpg');
    background-position: center center;
    background-size: cover;
}

main {
    background-color: white;
    border-radius: 15px;
    width: 400px;
    margin: auto;
    padding: 10px;
    border: 1px solid darkblue;
    text-align: justify;
    text-indent: 20px;
}