* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

main { 
    background: url(imagens/fundo-madeira.jpg);
    height: 100vh;
    position: relative; /*o main sempre será relativo*/
    background-size: cover; /*cobrir a tela inteira*/
    background-attachment: fixed; /*eliminar barra de rolagem*/
} 

section#iphone {
    height: 627px;
    width: 311px;
    position:absolute; /*o posicionamento do id ou classe sempre será absoluto*/
    top:50%;
    left: 50%; /*nessas configurações o canto superior esquerdo do objeto é que fica centralizado*/
    transform: translate(-50%, -50%); /*tecnica utilizada para centralizar o objeto*/
    background: url(imagens/frame-iphone.png) no-repeat;
}

#screen{
    position: relative;
    top: 80px;
    left: 22px;
    width: 268px;
    height: 500px;
    background-attachment: fixed;
}

#social-webs > a > img {
    width: 50px; /*quando diminui a altura, automaticamente, diminui a largura na mesma proporção e vice-versa*/
    margin: 10px;
    border-radius: 25px; /*A partir de 25px o objeto já fica redondo*/
   box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.801); 
   box-sizing: border-box; /*Ao mexer num objeto não ovimenta o outro*/
}

#social-webs {
    text-align: right;
    margin-right: 30px;
}

#social-webs > a > img:hover {
    border: solid 2px rgba(255, 255, 255, 0.5);
    transform: translate(-3px, -3px);
}