@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1 {
    font-family: 'work sans';
    text-align: center;
    color: rgb(2, 2, 41);
}

h2 {
    font-family: 'work sans';
    color: rgb(8, 8, 85);
    text-decoration: underline;
}

body {
    font: italic lighter 1.5em 'Parisienne';
    text-align:justify;
    color:rgb(8, 8, 85);
    width: 500px;
}

p {
    text-indent: 20px;
}