body {
    font-family:monospace;

}

a {
    color: green;
}

a:visited {
    color: brown;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

a:active {
    color: yellow;
}

a::after {
    content: '[link]';
    color: lightslategray;
}

a.especial::before {
    content: '=>';
}

a.especial {
    background-color: rgba(221, 221, 128, 0.767);
}