div {
    background-color: lightgray;
    width: 150px;
    height: 150px;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    border: 1px solid black;
}

div:hover {
    background-color:yellow;
}
