caption {
    font: normal 400 20px arial;
    background-color: lightgray;
    border: solid 1px black;
}

td {
    border: solid 1px black;
    padding: 5px;
}

table {
    border-collapse: collapse;
    width: 400px;
    height: 100px;
    text-align: center;
}

